<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Listing</title>
</head>
<body>
    <h1>Enter Purcahse's information:</h1>
    <form name="purchase" action="../purchaseAction.py" method="get">
        <!--TODO: add "action" attribute to form tag with link that accepts submission of data-->
        
        <label for="seller_id">VIN:</label>
        <input type="number" id="seller_id" name="seller_id"><br><br>

        <label for="VIN">Make:</label>
        <input type="number" id="VIN" name="VIN"><br><br>


        <label for="customer_id">Year:</label>
        <input type="number" id="customer_id" name="customer_id"><br><br>

        <label for="data">Price:</label>
        <input type="datetime" id="data" name="data"><br><br>

        
    </form>
</body>
</html>